.container-collaborator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

table thead {
  background-color: aqua;
  font-weight: bold;
}

table td {
  border: 1px solid;
  text-align: center;
  padding: 5px 10px;
}

.linhas-dados {
  max-width: auto;
  min-width: 200px;
}

.icon {
  color: black;
}

#edit-icon:hover {
  color: blue;
  cursor: pointer;
}

#delete-icon:hover{
  color: red;
  cursor: pointer;
}

