<h1>Lista de Colaboradores</h1>

<table>
  <thead>
    <td>Nome</td>
    <td>Cargo</td>
    <td>Editar</td>
    <td>Remover</td>
  </thead>
  <tbody>
    <tr>
      <td>Vanilo</td>
      <td>DEV</td>
      <td>
        <a href="">E</a>
      </td>
      <td>
        <a href="">R</a>
      </td>
    </tr>

    <tr>
      <td>Thiago</td>
      <td>Vaqueiro</td>
      <td>
        <a href="">E</a>
      </td>
      <td>
        <a href="">R</a>
      </td>
    </tr>

    <tr>
      <td>Jacineide</td>
      <td>Professora</td>
      <td>
        <a href="">E</a>
      </td>
      <td>
        <a href="">R</a>
      </td>
    </tr>
  </tbody>
</table>
