.container-update-collaborator,
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.container-sucess,
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-update-collaborator {
    margin-bottom: 30px;
    color: blue;
}

.box-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.box-form div {
    padding: 20px 0;
}

.formulario {
    width: 400px;
    height: auto;
    padding: 40px;
    border: 2px solid aqua;
    border-radius: 5px;
}

.formulario:hover {
    border: 2px solid rgb(0, 0, 175);
}

.formulario input {
    width: 200px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.campo-form {
    padding: 30px 0;
}

.formulario button {
    font-size: 16px;
    border: solid 1px black;
    height: 40px;
    width: 200px;
    font-weight: bold;
    background-color: rgb(132, 132, 247);
}

.formulario button:hover {
    border: solid 1px aquamarine;
    background-color: rgb(0, 0, 175);
    color: white;
}