<div class="container-create-collaborator">
    <div class="container-form">
        <h1 class="titulo-create-collaborator">Cadastrar Colaborador</h1>

        <div class="formulario">
            <div class="box-form">
                <div>
                    <label class="campo-form">Nome:
                        <input placeholder="Insira o nome" required [(ngModel)]="body.name">
                    </label>
                </div>

                <div>
                    <label class="campo-form">Cargo:
                        <input placeholder="Insira o cargo" required [(ngModel)]="body.role">
                    </label>
                </div>
            </div>
            <button (click)="save()">Cadastrar</button>
        </div>
    </div>

    <div class="container-sucess" *ngIf="responseCreateCollaborators">
        <h3>Cadastrado com sucesso!</h3>
        <div class="card">
            <div class="cardText">
                <label>Nome: <span>{{responseCreateCollaborators.name}}</span></label><br>
                <label>Cargo: <span>{{responseCreateCollaborators.role}}</span> </label><br>
                <label>Id: <span>{{responseCreateCollaborators.id}}</span></label><br>
            </div>
        </div>
    </div>
</div>